body {
	margin: 0;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
img {
	border: none;
	outline: none;
	display: block;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.preview {
	border: 2px solid #333;
	padding: 2px;
	margin-bottom: 16px;
	display: inline-block;
	//display: inline;
	//zoom:1;
}
.preview.draw {
	border-color: #3C0;
}
.preview .inner {
	position: relative;
}
.preview .point {
	width: 1px;
	height: 1px;
	background-color: #fff;
	border: 1px solid #000;
	overflow: hidden;
	position: absolute;
}
.preview canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.preview .points {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.bar {
	margin-bottom: 16px;
}
.bar input {
	margin: 0 6px 0 0;
}

.info {
	background-color: #FCFCFC;
	border: 1px dotted #CCC;
	font-size: 12px;
	font-style: italic;
	padding: 8px;
	word-wrap: break-word;
}